# Assignment 01
       
## Name - Bharvi chavda

## Lists 
#### A list is a collection which is ordered and changeable. In Python lists are written in squared brackets

In [7]:
# Create 2 listes
# A is list of Name and basic details
A = ['Bharvi','20','Kharadi']
# List of college details
B = ['T.Y.BSc','Statistics','9162','Tilak Road']

### Performing various methods

In [8]:
# 1)  append() - Adds an element at th end of the list
print(A)
A.append("Female")
print(A)

['Bharvi', '20', 'Kharadi']
['Bharvi', '20', 'Kharadi', 'Female']

In [9]:
# 2) copy() : Copies all the elements from the list
A1 = A.copy()
print(A)

['Bharvi', '20', 'Kharadi', 'Female']

In [10]:
# 3) clear() : Removes all the elements from the list
A1.clear()
print(A1)

[]

In [12]:
# 4) count() : Returns the number of elements with the specified value
A.append('20')
print(A)
x = A.count('20')
print(x)

['Bharvi', '20', 'Kharadi', 'Female', '20']
2

In [13]:
# 5) del : Delete list
print(A1)
del A1
print(A1)

[]

NameError: name 'A1' is not defined

In [14]:
# 6) extend() : Add the elements of the list (or any iterable), to the end of the current list
A.extend(B)
print(A)

['Bharvi', '20', 'Kharadi', 'Female', '20', 'T.Y.BSc', 'Statistics', '9162', 'Tilak Road']

In [15]:
# 7) insert() : Adds an elemnt at the specified position
A.insert(2,'15 Km')
print(A)

['Bharvi', '20', '15 Km', 'Kharadi', 'Female', '20', 'T.Y.BSc', 'Statistics', '9162', 'Tilak Road']

In [16]:
# 8) len() : Length of list
print(len(A))

10

In [17]:
# 9) list() : Create list from inputs
C = list(('A','B','C'))
print(C)

['A', 'B', 'C']

In [18]:
# 10) pop() : Removes the element at the specified position'
A.pop(2)
print(A)

['Bharvi', '20', 'Kharadi', 'Female', '20', 'T.Y.BSc', 'Statistics', '9162', 'Tilak Road']

In [19]:
# 11) remove() : Removes the item with the specified value
A.remove('20')
print(A)
# Removes the 1st same element it matches

['Bharvi', 'Kharadi', 'Female', '20', 'T.Y.BSc', 'Statistics', '9162', 'Tilak Road']

In [20]:
# 12) reverse() : Reverses the order of the list
A.reverse()
print(A)

['Tilak Road', '9162', 'Statistics', 'T.Y.BSc', '20', 'Female', 'Kharadi', 'Bharvi']

In [21]:
# 13) sort() : Sorts the list
A.sort()
print(A)

['20', '9162', 'Bharvi', 'Female', 'Kharadi', 'Statistics', 'T.Y.BSc', 'Tilak Road']

## Tuples 
#### A Tuple is a collection which is ordered and unchangeable
#### In Python Tuples are wrtten with round brackets.
#### The key difference between the tuples and lists is that while the tuplesare immutable objects the lists are mutable
#### this means that tuples cannot be changed while the lists can be modified .
#### Tuples are more memory efficient than the lists

In [49]:
# Create 2 tuples
# A is tuple of Name and basic details
A = ('Bharvi','20','Kharadi')
# B is tuple of college details
B = ('T.Y.BSc','Statistics','9162','Tilak Road')

### Performing Various methods

In [40]:
# 1) tuple() : Creates tuple with elements specified.
t = tuple((1,2,3,4,5,6,7))
print(t)

(1, 2, 3, 4, 5, 6, 7)

In [41]:
# 2) len() : gives length of tuple, no. of elements
len(A)

3

In [50]:
# 3) t1 + t2 : Adds two tuples
C = A + B
print(C)

('Bharvi', '20', 'Kharadi', 'T.Y.BSc', 'Statistics', '9162', 'Tilak Road')

In [43]:
# 4) del : Deletes tuple
del t
print(t)

NameError: name 't' is not defined

In [52]:
# 5) count() : counts the number of times a specified value occures in a tuple
C1 = ('20',)
C = C + C1
print(C)
C.count('20')

('Bharvi', '20', 'Kharadi', 'T.Y.BSc', 'Statistics', '9162', 'Tilak Road', '20', '20')

3

In [53]:
# 6) index() : Searches the tuple for a specified value and returns the position where it was found
A.index('20')

1