# Data Structures
       
There are four collection data types in the Python Programming Language     
1.) Lists   
2.) Tuples    
3.) Sets    
4.) Dictionaries      
       
       
## Python Lists
      
A List is a collection which is orders and changeable. In Python lists are written as square brackets.

In [2]:
a = ["Sia","Emma"]
b = 'Sia'
c = 200
print(type(a))
print(a)
print(type(b))
print(b)
print(type(c))
print(c)

<class 'list'>
['Sia', 'Emma']
<class 'str'>
Sia
<class 'int'>
200

In [4]:
names = ['Sia', 'Emma', 'Issa', 'Lizzy', 'Esha']
print(names)
print(type(names))

['Sia', 'Emma', 'Issa', 'Lizzy', 'Esha']
<class 'list'>

In [6]:
# Access items
print(names[3])
print(names[2:])
print(names[:2])
print(names[1:3])

Lizzy
['Issa', 'Lizzy', 'Esha']
['Sia', 'Emma']
['Emma', 'Issa']

In [8]:
names

['Sia', 'Emma', 'Issa', 'Lizzy', 'Esha']

In [10]:
# negative index
print(names[-1])
print(names[-2:])
print(names[:-2])
print(names[-3:-1])

Esha
['Lizzy', 'Esha']
['Sia', 'Emma', 'Issa']
['Issa', 'Lizzy']

In [12]:
# Change item in list
print(names)
names[3] = "joy"
print(names)

['Sia', 'Emma', 'Issa', 'joy', 'Esha']
['Sia', 'Emma', 'Issa', 'joy', 'Esha']

In [15]:
# Looing through lists
for i in names:
    print(i)

Sia
Emma
Issa
joy
Esha

In [17]:
# Nested List
mylist = [1,2,3,['a','b',[6,7]]]
print(mylist)

[1, 2, 3, ['a', 'b', [6, 7]]]

In [19]:
sp = [['Science'],['Commerce'],['Arts']]
sp

[['Science'], ['Commerce'], ['Arts']]

### Methods for Lists
       
1)  append() : Adds an element at the end of the list      
2)  clear() : Removes all the elements from the list         
3)  copy() : Returns a copy of the list      
4)  count() : Returns the number of elemets with the specified value     
5)  del : delete list        
6)  extend() : Add the elements of a list(or any iterable), to the end of the current list       
7)  index() : Returns the index of the first element with the specified value      
8)  insert() : Adds an element at the specified position      
9)  len() : Length of the list      
10) list() : Copies list from given list      
11) pop() : Removes the element at the specified position     
12) removed() : Removed the element with specified value     
13) reverse() : Reverses the order of the list     
14) sort() : Sorts the list

In [21]:
# append() : Adds an element at the end of the list
print(names)
names.append("Kaya")
print(names)

['Sia', 'Emma', 'Issa', 'joy', 'Esha', 'Kaya']
['Sia', 'Emma', 'Issa', 'joy', 'Esha', 'Kaya', 'Kaya']

In [22]:
# clear() : Removes all the elements from the list
print(names)
names.clear()
print(names)

['Sia', 'Emma', 'Issa', 'joy', 'Esha', 'Kaya', 'Kaya']
[]

In [39]:
# copy() : returns copy of a list
names = ["Kesha","Lia","Tommy","Lily","Lucy"]
names1 = names.copy()
print(names1)

['Kesha', 'Lia', 'Tommy', 'Lily', 'Lucy']

In [40]:
# count() : Returns the number of elements with the specified value
names.append("Lia")
x = names.count("Lia")
print(x)

2

In [41]:
# del : Delete list
print(names1)
del names1
print(names1)

['Kesha', 'Lia', 'Tommy', 'Lily', 'Lucy']

NameError: name 'names1' is not defined

In [42]:
# extend() : Add the elements of a list (or any iterable), to the end of the current list
cars = ['Jaguar','Porshe','BMW']
names.extend(cars)
print(names)

['Kesha', 'Lia', 'Tommy', 'Lily', 'Lucy', 'Lia', 'Jaguar', 'Porshe', 'BMW']

In [43]:
# index() : Returns the index of the first element with the specified 
# won't check for further element after finding one
x = names.index('Lia')
x

1

In [46]:
# insert() : Adds an element at the specified position
names.insert(2,'Joy')
print(names)
names

['Kesha', 'Lia', 'Joy', 'Tommy', 'Lily', 'Lucy', 'Lia', 'Jaguar', 'Porshe', 'BMW']

['Kesha',
 'Lia',
 'Joy',
 'Tommy',
 'Lily',
 'Lucy',
 'Lia',
 'Jaguar',
 'Porshe',
 'BMW']

In [47]:
# len() : Length of list
print(len(names))

10

In [48]:
# list() : Creates lists from given inputs
new_list = list(('Audi','BMW','Volvo'))
print(new_list)

['Audi', 'BMW', 'Volvo']

In [49]:
# pop() : removes the element at the specified position
print(names)
names.pop(2)
print(names)
print(len(names))

['Kesha', 'Lia', 'Joy', 'Tommy', 'Lily', 'Lucy', 'Lia', 'Jaguar', 'Porshe', 'BMW']
['Kesha', 'Lia', 'Tommy', 'Lily', 'Lucy', 'Lia', 'Jaguar', 'Porshe', 'BMW']
9

In [50]:
# remove() : Reverses the item with thge specified value
names.remove('Lia')
print(names)

['Kesha', 'Tommy', 'Lily', 'Lucy', 'Lia', 'Jaguar', 'Porshe', 'BMW']

In [51]:
# reverse() : Reverses the order of the list
names.reverse()
print(names)

['BMW', 'Porshe', 'Jaguar', 'Lia', 'Lucy', 'Lily', 'Tommy', 'Kesha']

In [52]:
# sort() : Sorst the list
names.sort()
print(names)

['BMW', 'Jaguar', 'Kesha', 'Lia', 'Lily', 'Lucy', 'Porshe', 'Tommy']

## Tuples
       
A tuple is a collection which is ordered and unchangeable.    
      
In Python tuples are written with round brackets.    
       
The key difference between the tuples and list is that while the tuples are immutable, objects of the lists are mutable.     
      
This means that the tuples cannot be changed while the lists can be modified.                
Tuples are more memory efficient than the lists.

In [53]:
t1 = (1,2,3,4,51,0,3)
t2 = ('Lia', 'Lucy', 'Lily', 'Tommy', 'Kesha')
print(t1,'\n')
print(t2)

(1, 2, 3, 4, 51, 0, 3)

('Lia', 'Lucy', 'Lily', 'Tommy', 'Kesha')

In [54]:
t3 = ['Lia','Lucy']
t3

['Lia', 'Lucy']

In [56]:
# Access elements
print(t1[0])
print(t1[2:])
print(t1[:3])

# negative index
print(t1[-1])
print(t1[-4:])
print(t1[:-3])

1
(3, 4, 51, 0, 3)
(1, 2, 3)
3
(4, 51, 0, 3)
(1, 2, 3, 4)

In [57]:
# Change tuple values
t1[0] = 99

TypeError: 'tuple' object does not support item assignment

In [58]:
# Looping through tuple 
for j in t1:
    print(j)

1
2
3
4
51
0
3

In [61]:
# Check for 'Lia' in t2
if "Lia" in t2:
    print("Lia is listed in t2")
print('Lia' in t2)
print('Ada' in t2)

Lia is listed in t2
True
False

In [62]:
# tuple with one element
T1 = ('Hi',)
print(type(T1))
T2 = ("Hi")
print(type(T2))

<class 'tuple'>
<class 'str'>

### Methods for Tuples       
       
1) tuple() : creats tuple with elements specified.       
2) len() : gives length of tuple, no. of elements in tuple.           
3) t1 + t2 : Adds two tuples.           
4) del : Deletes tuple.     
5) count() : Returns the number of times a specified value occurs in a tuple.    
6) index() : Searches the tuple for a specified value and returns the position of where it was found.

In [63]:
# tuple() : creats tuple with elements specified
t = tuple((0,1,2,3,4,5,6,7,8,3,4))
print(t)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 3, 4)

In [64]:
# len() : Gives length of tuple, no. of elements in tuple.
len(t)

11

In [65]:
# t1 + t2 : adds two tuples
t + t1

(0, 1, 2, 3, 4, 5, 6, 7, 8, 3, 4, 1, 2, 3, 4, 51, 0, 3)

In [66]:
# del : Deletes tuple
print(t1)
del t1
print(t1)

(1, 2, 3, 4, 51, 0, 3)

NameError: name 't1' is not defined

In [68]:
# count() : returns the number of times a specified value occures in a tuple
print(t)
t.count(4)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 3, 4)

2

In [69]:
# index() : searches the tuple for a specified value and returns the position of where it was found
t.index(4)

4

In [71]:
# Nested tuples
t = (1,2,3,4,(2,5,'c',(9)))
print(t)
type(t)

(1, 2, 3, 4, (2, 5, 'c', 9))

tuple

## Sets
      
A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [73]:
set1 = {1,2,3,4,5,6,3,2,1}
print(set1,"\n")
set2 = {'A','B','C','D','X'}

{1, 2, 3, 4, 5, 6}

### Access items          
You can't access items in a set by referring to an index.     
Since, sets are unordered, the items has no index.

In [74]:
# Access items
# loop through the set items using a for loop
for j in set1 :
    print(j)
print('A' in set2)

1
2
3
4
5
6
True

### Methods for Sets
        
add(): Adds an element to the set      
clear(): Removes all the elements from the set       
copy(): Returns a copy of the set      
difference(): Returns a set containing the difference between two or more sets      
difference_update(): Removes the items in this set that are also included in another, specified set     
discard(): Remove the specified item    
intersection(): Returns a set, that is the intersection of two other sets      
intersection_update(): Removes the items in this set that are not present in other, specified set(s)        
isdisjoint(): Returns whether two sets have a intersection or not      
issubset(): Returns whether another set contains this set or not      
issuperset(): Returns whether this set contains another set or not     
len(): Finds length of set      
pop(): Removes an element from the set     
remove(): Removes the specified element     
symmetric_difference(): Returns a set with the symmetric differences of two sets     
symmetric_difference_update(): inserts the symmetric differences from this set and another     
union(): Return a set containing the union of sets     
update(): Update the set with the union of this set and others

In [75]:
# add() : Adds an element to the set
print(set1)
set1.add(12)
print(set1)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 12}

In [76]:
# copy() : returns a copy of the set
set1 = set2.copy()
print(set1)

{'X', 'D', 'C', 'B', 'A'}

In [77]:
# clear() : Removes all the elements from the set
set2.clear()
print(set2)

set()

In [78]:
# difference() : Returns a set contating the difference between two or more sets
x = {'Apple','Banana','cherry'}
y = {'Samsung','MI','Apple'}
z = y.difference(x)
print(z)

{'Samsung', 'MI'}

In [79]:
# difference_update() : Removes the items in this set that are also in included in another specified set
y.difference_update(x)
print(y)

{'Samsung', 'MI'}

In [81]:
# discard() : remove the specified item
print(set1)
set1.discard('X')
print(set1)

{'X', 'D', 'C', 'B', 'A'}
{'D', 'C', 'B', 'A'}

In [84]:
# intersection() : Returns a set, that is the intersection of two other sets
print(x)
y.add('Apple')
y.intersection(x)

{'Apple', 'Banana', 'cherry'}

{'Apple'}

In [87]:
# intersection_update(): Removes the items in this set that are not present in other, specified set(s)
y.intersection_update(x)
print(y)

{'Apple'}

In [88]:
# idisjoint() : returns whether two sets have an intersection or not
x = {'Apple','Banana','cherry'}
y = {'Samsung','MI','Apple'}
z = x.isdisjoint(y)
print(z)

False

In [92]:
# issubset() : returns whether another set contains this set or not
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple",'banana','cherry'}
print(y.issubset(x))
z = x.issubset(y)
print(z)

False
True

In [93]:
# issubupper() : Returns whether this set contains another set or not
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple",'banana','cherry'}

z = y.issuperset(x)
print(z)

True

In [94]:
# len() : Finds length of set
len(x)

3

In [95]:
# pop() : Removes an element from the set and returns the removed value
print(x)
print(x.pop())
print(x)

{'banana', 'cherry', 'apple'}
banana
{'cherry', 'apple'}

In [97]:
# remove() : Removes the specified element
print(y)
y.remove('mi')
print(y)

{'samsung', 'apple', 'banana', 'mi', 'cherry'}
{'samsung', 'apple', 'banana', 'cherry'}

In [98]:
# symmetric_difference() : Returns a set with the symmetric difference of two sets
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

z = y.symmetric_difference(x)
print(z)

{'samsung', 'banana', 'cherry', 'mi'}

In [99]:
# symmetric_difference_update(): inserts the symmetric differences from this set and another
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

y.symmetric_difference_update(x)
print(y)

{'samsung', 'banana', 'mi', 'cherry'}

In [100]:
# union() : returns a set containing the union of sets
z = x.union(y)
print(z)

{'samsung', 'banana', 'mi', 'cherry', 'apple'}

In [102]:
# update() : Update the set with the union of this set and others
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}
x.update(y)
print(x)

{'samsung', 'banana', 'mi', 'cherry', 'apple'}

## Dictionary
       
A dictionary is a collection which is unordered, changeable and indexed. Python dictionaries are written with curly brackets, and they ahve key and values.